*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding-top: 30px;
}

.navbar{
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.logo i{
  font-size: 28px;
  color: #f1c40f;
}

.logo h1{
  font-size: 32px;
  font-weight:bold;
  color: #2ecc71;
  line-height: 1;
}

.logo p{
  font-size: 12px;
  color: #555;
  margin-left: 70px;
}

/* MENU */
.menu{
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu a{
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

/* BUTTON */
.btn{
  padding: 10px 18px;
  background: #3aa76d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover{
    background: #16a34a;
}
 /*SECTION1*/
 #hero {
  height: 100vh;
  margin-top: 20px;
  background-image: url("/image/OIP.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Dark overlay */
.heror {
  height: 100%;
  width: 100%;
  background: rgba(10, 20, 30, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Content */
.hero-content {
  text-align: center;
  max-width: 900px;
  padding: 20px;
  color: #fff;
}

/* Badge */
.badge {
  display: inline-block;
  background: #e6fff1;
  color: #1f9d55;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}
.badge i {
  margin-right: 6px;
  font-size: 11px; 
  font-weight: 400;    
  color: #22c55e;
  box-shadow: 0 0 6px rgba(34, 197, 94, 0.9),
              0 0 12px rgba(34, 197, 94, 0.6);
  border-radius: 50%;      
  
}

/* Heading */
.hero-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-content h1 span {
  color: #22c55e;
}

/* Paragraph */
.hero-content p {
  margin: 20px auto;
  font-size: 18px;
  color: #d1d5db;
  max-width: 750px;
}

/* Buttons */
.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Primary button */
.btn.primary {
  background: #22c55e;
  color: #ebedf1;
}

.btn.primary:hover {
  background: #16a34a;
}

/* Secondary button */
.btn.secondary {
  background: transparent;
  color: #fff;
  border: 1px solid #94a3b8;
}

.btn.secondary:hover {
  background: rgba(255, 255, 255, 0.1);
}