*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding-top: 30px;
}

.navbar{
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.logo i{
  font-size: 28px;
  color: #f1c40f;
}

.logo h1{
  font-size: 32px;
  color: #2ecc71;
  line-height: 1;
}

.logo p{
  font-size: 12px;
  color: #555;
  margin-left: 70px;
}

/* MENU */
.menu{
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu a{
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

/* BUTTON */
.btn{
  padding: 10px 18px;
  background: #3aa76d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover{
    background-color: #ddf33e;
}
