*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding-top: 30px;
}

.navbar{
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}


.menu{
  display: flex;
  gap: 40px;
  list-style: none;
}
.menu li:hover{
  text-align: center;
  border-radius: 5px;
  height: 50px;
  width: 80px;
  background: #f2e8e8;
  
}
.menu a{
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

/* BUTTON ALL */
.btn{
  padding: 10px 18px;
  background: #3aa76d;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover{
    background: #16a34a;
}
 /*SECTION 2*/
 #hero {
  height: 100vh;
  margin-top: 20px;
  background-image: url("image/OIP.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}


.heror {
  height: 100%;
  width: 100%;
  background: rgba(10, 20, 30, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-content {
  text-align: center;
  max-width: 900px;
  padding: 20px;
  color: #fff;
}


.badge {
  display: inline-block;
  background: #e6fff1;
  color: #1f9d55;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}
.badge i {
  margin-right: 6px;
  font-size: 11px; 
  font-weight: 400;    
  color: #22c55e;
  box-shadow: 0 0 6px rgba(34, 197, 94, 0.9),
              0 0 12px rgba(34, 197, 94, 0.6);
  border-radius: 50%;      
  
}


.hero-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-content h1 span {
  color: #22c55e;
}


.hero-content p {
  margin: 20px auto;
  font-size: 18px;
  color: #d1d5db;
  max-width: 750px;
}


.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}


.btn.primary {
  background: #22c55e;
  color: #ebedf1;
}

.btn.primary:hover {
  background: #16a34a;
}


.btn.secondary {
  background: transparent;
  color: #fff;
  border: 1px solid #94a3b8;
}

.btn.secondary:hover {
  background: rgba(255, 255, 255, 0.1);
}
/*section 3*/
.problem-section {
  background: #f8fafc;
  padding: 80px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.container h1 {
  font-size: 42px;
  color: #0f172a;
  margin-bottom: 10px;
}

.container p{
  padding-bottom:10px;
}

.subtitle {
  color: #64748b;
  font-size: 18px;
  margin-bottom: 60px;
}


.card-grid {
  display: flex;
  gap: 30px;
}


.card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  
}

.card:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}


.icon {
  width: 56px;
  height: 56px;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon.red {
  background: #e73535;
}

.card h3 {
  font-size: 20px;
  color: #0f172a;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  color: #64748b;
}
/*section 4*/
.kn {
  padding: 120px;
  background: #ffffff;
}

.fl {
  display: flex;
  align-items: center;
  gap: 60px;
}

.kn-im img {
  width: 600px;
  max-width: 100%;
}

.kn-content {
  max-width: 520px;
}

.kn-content .tag {
  color: #22a06b;
  font-weight: 600;
  letter-spacing: 1px;
}

.kn-content h1 {
  font-size: 42px;
  line-height: 1.2;
  margin: 15px 0 20px;
  color: #0b1b33;
}

.kn-content .desc {
  font-size: 16px;
  color: #5f6c7b;
  margin-bottom: 30px;
}

.kn-content ul {
  list-style: none;
  padding: 0;
}

.kn-content ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #0b1b33;
}

.kn-content ul li img {
  width: 22px;
}

/*FOOTER*/

#footer-sec {
  background-color: #071c33;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding-top: 50px;
}

.left-section img {
  height: 55px;
}
.right-section {
  text-align: right;
}
.social-title {
  font-size: 16px;
  margin-right: 45px;
  margin-bottom: 12px;
  font-weight: 500;
}

.social-icons {
  display: flex;
  gap: 14px;
  justify-content: flex-end;
}

.social-icons a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(255,255,255,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  
}

.social-icons a:hover {
  background: #ffffff;
  color: #071c33;
}

.footer-line {
  width: 85%;
  max-width: 1400px;
  height: 1px;
  background: rgba(255,255,255,0.15);
  margin: 35px auto 20px;
}

.copy-right-text {
  text-align: center;
  font-size: 14px;
  padding-bottom: 25px;
  opacity: 0.8;
}
